<div class="greeting">
	<div class="banner">
		<div class="banner-content">
			<h3>This is me.</h3>
			<h1>Lukas Kurz.</h1>
			<h2>My friends call me Shorty.</h2>
			<h4>In case you're in a hury and just want to know who I am, here's the <b>tl;dr</b> version of me:</h4>
			<p>I'm a software engineer, currently finishing my education at HTL Leonding.</p>
			<p>Work related topics,that I'm especially interested in are: Machine Learning, Coding, Devops.</p>
			<p>In my free time I do:</p>
			<ul>
				<li>Learning about Machine Learning or Software Engineering</li>
				<li>Playing computer games</li>
				<li>Work on projects, either alone or with some friends</li>
				<li>Ride my motorcycle</li>
				<li>Recently started running. It's fun.</li>
			</ul>
			<p>Other interests are:</p>
			<ul>
				<li>Politics</li>
				<li>New technologies</li>
				<li>Science</li>
				<li>Memes</li>
			</ul>
			<p>If that wasn't enough, scroll down.</p>
		</div>
	</div>
	
	<img src="../../assets/temple.jpg" class="img-serious">
	<img src="../../assets/temple_fun.jpg" class="img-funny">
	<div class="saying-wrapper">
		<span class="saying">Keep it kurz and simple.</span>
	</div>
	
</div>