div.greeting {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

div.banner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 550px;
    height: 100vh;
    min-height: 760px;
    background: white;
    clip-path: polygon(0 0, 400px 0, 100% 100%, 0% 100%);

    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.banner-content {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30% 20px 50px;

    h3{
        margin: 0px 0;
    }

    h1{
        margin: 0px 0;
        font-size: 40px;
    }
}

div.saying-wrapper{
    height: 100vh;
    min-height: 760px;
    width: calc(100vw - 385px);
    position: absolute;
    right: 0px;
    pointer-events: none;
    display: flex;
}

span.saying {
    margin: 0 auto;
    margin-top: 30vh;
    padding: 0 165px 0 165px;
    color: white;
    font-weight: 500;
    z-index: 1;
    font-family: 'Passion One', cursive;
    font-size: 90px;
    text-transform: uppercase;
}



img.img-serious {
    height: 100vh;
    min-height: 760px;
    width: calc(100vw - 385px);
    object-fit: cover;
    position: absolute;
    right: 0px;
    z-index: -1;
    opacity: 1;
    transition: opacity 250ms;

    &:hover {
        opacity: 0;
    }
}

img.img-funny {
    height: 100vh;
    min-height: 760px;
    width: calc(100vw - 385px);
    object-fit: cover;
    position: absolute;
    right: 0px;
    z-index: -2;
}