div.about {
    font-family: 'Nunito', sans-serif;
    margin: 16px;
    min-height: calc(100vh - 32px);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3,
h4 {
    text-align: center;
}