<div class="close"><a [routerLink]="['/about']">X</a></div>
<div class="content">
  <h1>Timeline</h1>

  <ul class="timeline">
    <li class="event" data-date="August 6, 1999">
      <h3>Birth</h3>
      <p>This is where it all begins. The start of my story.</p>
    </li>
    <li class="event" data-date="2006">
      <h3>Elementary School</h3>
      <p>In the rural town of <strong>Plainfeld in Salzburg</strong>, I went to elementary school.</p>
    </li>
    <li class="event" data-date="2010">
      <h3>High School</h3>
      <p>After moving from <strong>Koppl in Salzburg to Wels</strong>, I attended the
        <strong>Brucknergymnasium</strong>. This is where I had my first
        contacts with computers, since I went to the <i>"New Media"</i> branch of this school. I learnt about computers
        and how
        to use photoshop and the experiences here are also what made me decide to pursue a career in computer science.
      </p>
    </li>
    <li class="event" data-date="2014">
      <h3>Technical College</h3>
      <p>Having decided to become a <i>coder</i>, I went to the <strong>HTL Leonding</strong>, where I attend the
        <i>computer science</i> branch. Being surrounded by like-minded people, I made a lot of friends here and have a
        lot of positive memories of this place.</p>
    </li>
    <li class="event" data-date="Summer, 2015">
      <h3>Internship, eww</h3>
      <p>Being a industrious little fella', I immediately wanted to earn some money and put my newly learnt knowledge
        to use. Sadly there was some misunderstanding regarding my work, which resulted in me doing a lot of clichee
        intern work, like cleaning the fridge, buying food and so on.</p>
    </li>
    <li class="event" data-date="Summer, 2016">
      <h3>Internship, Go-west</h3>
      <p>With new hopes of applying my knowledge in computer science, I managed to get an internship at Go-west, a
        website developing company. I really enjoyed working here, not only because of the beatiful location in the city
        of Salzburg, but also because I was able to learn a lot about website developing and software engineering in
        general.</p>
    </li>
    <li class="event" data-date="Summer, 2017">
      <h3>Internship, Dynatrace</h3>
      <p>Having learned a lot of technologies outside of the school curriculum, I managed to land an internship at one
        of the bigger tech companies in Linz, Dynatrace. I was very happy to be working on such a cool product like the
        Dynatrace Agent. I had my first contact with SCRUM, daily standups, version control and other things that are
        typical for software developing companies nowadays. I also learned about Node.js, which made me appreciate
        Javascript a bit more, since I had only known it as this weird Language, that had no other use than for frontend
        developing.</p>
    </li>
    <li class="event" data-date="April 27, 2018">
      <h3>Catalysts Coding Contest, Linz</h3>
      <p>I participated in the Junior and the normal contest, scoring <strong>rank
          2</strong>(!!!) in the junior and
        <strong>rank 12</strong> in the normal contest. This was a good day.</p>
    </li>
    <li class="event" data-date="Summer, 2018">
      <h3>Internship, Catalysts</h3>
      <p>My rank in the previous Catalysts Coding Contest, qualified me for an internship at Catalysts, which was one of
        the other companies I wanted have an intership at. I had heard a lot of positive things about them, which most
        of of them turned out to be true. I had the unique opportunity to work in a team solely consisting of interns,
        working on a completely new project. This is was a huge fun and also very interesting, because we had to the
        whole project management, like having retrospectives, a Product Owner, a demo and a presentation. I also had the
        opportunity to work as a devop, learning about deployment asweel as debugging and fixing broken deployments.</p>
    </li>
  </ul>
</div>