<div class="social-buttons">
  <a href="https://www.linkedin.com/in/lukas-kurz-256461156/" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
    <span class="social-button__inner">
     <fa-icon class="fab" [icon]="faLinkedinIn"></fa-icon>
    </span>
  </a>
  <a href="https://github.com/lukaskurz" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
    <span class="social-button__inner">
     <fa-icon class="fab" [icon]="faGithub"></fa-icon>
    </span>
  </a>
  <a href="mailto:me@lukaskurz.com" class="social-buttons__button social-button social-button--mail" aria-label="Mail">
    <span class="social-button__inner">
     <fa-icon class="fab" [icon]="faEnvelope"></fa-icon>
    </span>
  </a>
  <a href="https://www.reddit.com/user/shorty_luky99" class="social-buttons__button social-button social-button--reddit" aria-label="Reddit">
    <span class="social-button__inner">
     <fa-icon class="fab" [icon]="faRedditAlien"></fa-icon>
    </span>
  </a>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="social-buttons__button social-button social-button--youtube" aria-label="Youtube">
    <span class="social-button__inner">
     <fa-icon class="fab" [icon]="faYoutube"></fa-icon>
    </span>
  </a>
  
</div>