<div class="close">
	<a [routerLink]="['/about']">
		<fa-icon class="fab" [icon]="faArrowLeft"></fa-icon>
	</a>
</div>
<div class="container">

	<h2>My Skills</h2>
	<ul>
		<li>
			<h3><span>Software Engineering</span></h3>
			<p>Not only through my education at the HTL Leonding, but mostly through internships at various companies
				have I learned a great deal about software engineering. I love the combination of problem solving and
				logical thinking involved in this job and there is nothing that intrigues me more than difficult
				problem, requiring multiple days of head-breaking to solve it. I've also taken part in competitions like
				the Catalysts Coding Contest.</p>
		</li>
		<li>
			<h3><span>Machine Learning</span></h3>
			<p>The moment I first heard about neural networks and the likes of,
				I know that this kind of work was for me.
				Sadly, I had no opportunity to learn or apply anything from Machine Learning at my school,
				which prompted me to read books about it. Since I'm more of a hands-on learning type,
				I started taking online courses about this topic, in the hopes of gaining more practical knowledge.
				I worked my way through Andrew Ngs Machine Learning Course and continued with his 5-part Deep Learning
				Specialization and I am now taking a course for PyTorch.</p>
		</li>
		<li>
			<h3><span>Frontend Developing</span></h3>
			<p>I started frontend and fullstack developing in my first internship, where i worked at small-ish website
				development agency. Since then, I've been working on a lot of frontend stuff, including Angular,
				React.js, writing a game in Phaser and of course good ol' JQuery. Although this is the area in which I
				have arguably the most practice, it is also my least favourite area. I don't plan on working in a job
				that that does primarily frontend stuff.</p>
		</li>
	</ul>
</div>