$color: #11a76d;


* {
    box-sizing: border-box;
}

div.close {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 100;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 26px;
    background-color: rgba(255, 255, 255, 0.766);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.466);

    a {
        font-size: 36px;
        color: black;
        text-decoration: none;
    }
}

.container {
    margin: 3em auto;
    width: 90%;
    max-width: 1100px;
}

h2 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: #959595;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -10px;
        border-bottom: 3px solid $color;
        width: 30px;
    }
}

ul {
    list-style: none;
    margin: 4em 0 0;
    padding: 0;

    li {
        margin-bottom: 2em;

        h3 {
            position: relative;
            z-index: 1;
            margin: 0;
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.25em;
            line-height: 2.5em;
            font-weight: 300;
            letter-spacing: 1px;

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                background-color: $color;
                width: 2.5em;
                height: 2.5em;
                border-radius: 50%;
            }

            span {
                padding-left: 15px;
            }
        }

        p {
            padding-left: 15px;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.1em;
            line-height: em(27);
            font-weight: 400;
            color: #959595;
        }
    }
}