div.close {
    a {
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        font-size: 36px;
        margin: 16px;
		color: white;
		text-decoration: none;
    }
}

div.background{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #fd905e;
    z-index: -1;
}

h2 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: white;
}

p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

div.projects-wrapper {
    margin: 16px;
    width: calc(100vw - 32px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.project {
    width: 300px;
    margin: 8px;
}